footer {
  padding-bottom: 2.5em;
  width: 100%;
  background-color: var(--primary-color);
  position: absolute;
  text-align: center;

  .content > div {
    padding-top: 2.5em;
  }

  .content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem 0 4rem;

    h5 {
      padding: 0;
      margin: 0;
      margin-bottom: 1.5em;
    }

    a {
      text-decoration: none;
      position: relative;
      display: inline-block;
    }

    a:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: '';
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: white;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }

    a:hover:after {
      width: 100%;
      left: 0;
    }
  }

  .github {
    text-align: left;
    order: 1;
    width: 250px;
  }

  .sponsors {
    order: 2;
    width: 250px;
  }

  .contact {
    text-align: right;
    order: 3;
    width: 250px;
  }

  .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    svg {
      fill: var(--text-color);
    }
  }

  @media screen and(min-width: 768px) {
    .content {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @media screen and (max-width: 768px) {
    .content {
      flex-direction: column;
      text-align: center;
    }

    ul {
      text-align: center;
    }

    .sponsors {
      order: 1;
    }

    .contact {
      order: 2;
    }

    .github {
      order: 3;
    }
  }
}

ul {
  padding-left: 0;
  margin: 0;

  li {
    list-style: none;
    text-decoration: none;
    padding: 6px 8px;
  }
}
