.hero {
  margin: 0;
  width: 100%;
  padding: 0px 16px;
  padding-top: 40px;
  line-height: 1.15;
  h1 {
    font-size: 48px;
  }

  .date {
    color: var(--accent-color);
  }
}
.hero,
.description {
  text-align: center;
}

.row {
  max-width: 880px;
  margin: 80px auto 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.card {
  margin: 8px;
  padding: 18px 18px 24px;
  width: 220px;
  text-align: left;
  text-decoration: none;
  border: 1px solid var(--primary-dark);
  transition: 0.2s ease;
}

.card:hover {
  border-color: var(--accent-color);
}

.card h3 {
  margin: 0;
  color: var(--accent-color);
  font-size: 18px;
}

.card p {
  margin: 0;
  padding: 12px 0 0;
  font-size: 13px;
}

.formCard {
  text-align: left;
  padding: 1.5em 2.5em 2.5em 2.5em;
  width: 100%;
  text-decoration: none;
  border: 1px solid var(--primary-dark);
  transition: 0.2s ease;
  margin-bottom: 16px;
}

.event {
  margin: 0 5rem;
  width: 75%;
  padding: 0px 16px;
  padding-top: 80px;
  line-height: 1.15;
  h1 {
    font-size: 48px;
  }

  .date {
    color: var(--accent-color);
  }
}

label {
  margin-bottom: 8px;
  display: block;
}

input {
  background-color: var(--background-color);
  padding: 8px 16px;
  outline: none;
  border: 1px solid var(--primary-dark);
  transition: 0.2s ease;
  font-size: 1rem;
  margin-bottom: 16px;

  select,
  textarea {
    color: var(--text-color);
  }
}

input:focus {
  border-color: var(--accent-color);
}

button {
  font-size: 1rem;
  background-color: transparent;
  padding: 8px 32px;
  border: 1px solid;
  transition: 0.2s ease;
  outline: none;
  color: var(--accent-color);
}

button:focus,
button:hover {
  opacity: 0.5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--primary-color) inset !important;
  -webkit-box-shadow: 0 0 0 30px var(--primary-color) inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--text-color) !important;
}

.link {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.link:hover:after {
  width: 100%;
  left: 0;
}
