@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Heebo&display=swap');

* {
  font-family: 'Heebo', sans-serif;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Code Pro', monospace;
  color: black;
}
